.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
  margin-bottom: 0;
  padding: 0px 20px;
  /* position: absolute; */
  /* font-family: "Cabinet Grotesk - Medium"; */
  font-weight: 500;
}
