.header {
  /* background-color: lightseagreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  /* font-family: "Cabinet Grotesk - Medium"; */
  font-weight: 700;
  font-size: 20px;
}

.header__logo {
  display: flex;
  gap: 20px; /* add as we go */
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__button {
  border: none;
  /* font-family: "Cabinet Grotesk - Medium"; */
  font-weight: 700;
  font-size: 20px;
  background: none;
}
